/* Application wide styles */
.bodybg{
    -fx-background-image: url("../images/logo.png");
    -fx-background-size: 100% 100%;
}

.pane-color{
    -fx-background-color: white;
}
.pane-border {
    -fx-border-color: #e0e0e0;
}

.primary-color{
    -fx-background-color: #1e417b;
}
.primary-btn{
    -fx-background-color: #1e417b;
    -fx-background-radius: 10px;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}

.special-btn{
    -fx-background-color: #8fcae5;
    -fx-border-color: #f6851f;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}

.outline-btn{
    -fx-border-color: #1e417b;
    -fx-border-radius: 10px;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}

.fields {
    -fx-background-color: #fafafa;
    -fx-border-color: #e0e0e0;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-width: 1px;
}

.fields:hover{
    -fx-border-color: #8fcae5;
    -fx-border-width: 1px;
}

.fields:focused{
    -fx-border-color: #8fcae5;
    -fx-border-width: 1px;
}

.clip-board-label{
    -fx-background-color: #fafafa;
    -fx-border-color: #8fcae5;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}

.closeBtn:pressed{
    -fx-background-color: blue;
}

.closeBtn:hover{
    -fx-background-color: red;
}
.minimizeBtn:hover{
    -fx-background-color: #eeeeee;
}

.text-dark{
    -fx-text-fill: black;
}

.text-white{
    -fx-text-fill: white;
}

.text-blue{
    -fx-text-fill: #1e417b;
}

.text-semi-white {
    -fx-text-fill: #888888;
}

.icon-fill{
    -fx-Fill: #f6851f;
}

.label-tags:hover{
    -fx-underline: true;
}

.windows-icon{
    -fx-Fill: black;
}

.toggle-btn{
    -jfx-toggle-color: #f6851f;
}

.text-bold{
    -fx-font-weight: BOLD;
}